In [2]:
#1. apriori
apriori <- function(df, class_col, class_name) {
  class_count <- sum(df[, class_col] == class_name)
  total_count <- nrow(df)
  return (class_count / total_count)
}

In [3]:
apriori(iris, 'Species','setosa')

[1] 0.3333333

In [4]:
#2. estimaciÃ³n media

media <- function(df, class_col, variable_list, class_name) {
    df_interes = df[df[, class_col] == class_name,]
    
    tamanio_df_interes = nrow(df_interes)
    
    res_vect = c()
    cont = 0
    for(i in variable_list){
        cont = cont + 1
        res_vect[cont] = sum(df_interes[,i]) / tamanio_df_interes
        
        
    }
    
    return(res_vect)}

In [5]:
media(iris, 'Species', c('Sepal.Length','Sepal.Width','Petal.Length','Petal.Width'), 'setosa')

[1] 5.006 3.428 1.462 0.246

In [6]:
var.covar <- function(df, variable_list, class_col) {
    
    classes=unique(df[, class_col])
    num_classes=length(classes)
    num_variables=length(variable_list)
    tamanio_df=nrow(df)
    
    covariance_matrix=matrix(0, nrow=num_variables,ncol=num_variables)
        
    for(class in classes){
        df_interes=df[df[, class_col] == class,]
        tamanio_df_interes=nrow(df_interes)
        
        cont=1
        for(variable in variable_list) {
            prmd=sum(df_interes[,variable]) / tamanio_df_interes
            covariance_matrix[cont,cont] = covariance_matrix[cont,cont] + sum((df_interes[,variable]-prmd)^2)/(tamanio_df-num_classes)
            cont = cont+1
        }
        
    }
    return(covariance_matrix)
}

In [7]:
var.covar(iris,c('Sepal.Length','Sepal.Width','Petal.Length','Petal.Width'),"Species")

     [,1]      [,2]      [,3]      [,4]
[1,] 0.2650082 0.0000000 0.0000000 0.00000000
[2,] 0.0000000 0.1153878 0.0000000 0.00000000
[3,] 0.0000000 0.0000000 0.1851878 0.00000000
[4,] 0.0000000 0.0000000 0.0000000 0.04188163

In [8]:
delta <- function(vector_x, apriori, medias, matriz_cov) {
    
    return(t(vector_x)%*%solve(matriz_cov)%*%medias-.5*t(medias)%*%solve(matriz_cov)%*%medias+log(apriori))
    
}

In [9]:
vec=as.numeric(iris[51,1:4])
delta(vec, apriori(iris, 'Species','virginica'), media(iris, 'Species', c('Sepal.Length','Sepal.Width','Petal.Length','Petal.Width'), 'virginica'),var.covar(iris,c('Sepal.Length','Sepal.Width','Petal.Length','Petal.Width'),"Species"))

     [,1]
[1,] 211.5851

In [10]:
clasifica <- function(vector_x, param_clases, matriz_cov) {
    max_delta=-Inf
    clase_var="e e e"
    
    for(i in 1:length(param_clases)) {
        clase=param_clases[i]
        delta_valor= delta(vector_x, param_clases[[i]][[1]], param_clases[[i]][[2]], matriz_cov)
        if(delta_valor>max_delta){
            max_delta=delta_valor
            clase_var=i
        }
    }    
    return(clase_var)
}

In [11]:
vec=as.numeric(iris[48,1:4])
lista_clases = list(setosa=list(apriori=apriori(iris, 'Species','setosa'),medias=media(iris, 'Species', c('Sepal.Length','Sepal.Width','Petal.Length','Petal.Width'), 'setosa')), versicolor=list(apriori=apriori(iris, 'Species','versicolor'),medias=media(iris, 'Species', c('Sepal.Length','Sepal.Width','Petal.Length','Petal.Width'), 'versicolor')),virginica=list(apriori=apriori(iris, 'Species','virginica'),medias=media(iris, 'Species', c('Sepal.Length','Sepal.Width','Petal.Length','Petal.Width'), 'virginica')))
covar=var.covar(iris,c('Sepal.Length','Sepal.Width','Petal.Length','Petal.Width'),"Species")
clasifica(vec,lista_clases,covar)

[1] 1

In [12]:
iris.df <- data.frame(iris)
training.index <- sample(1:nrow(iris.df), nrow(iris) * 0.8, replace = FALSE)
training.data <-iris[training.index, ] # muestra aleatoria del 80% para entrenar el modelo
test.data <-iris[-training.index, ] #muestra aletoria del 20% para testear 
summary(training.data)

  Sepal.Length    Sepal.Width     Petal.Length    Petal.Width
 Min.   :4.300   Min.   :2.000   Min.   :1.000   Min.   :0.100
 1st Qu.:5.100   1st Qu.:2.800   1st Qu.:1.500   1st Qu.:0.300
 Median :5.800   Median :3.000   Median :4.450   Median :1.300
 Mean   :5.848   Mean   :3.053   Mean   :3.741   Mean   :1.208
 3rd Qu.:6.400   3rd Qu.:3.225   3rd Qu.:5.100   3rd Qu.:1.800
 Max.   :7.900   Max.   :4.400   Max.   :6.900   Max.   :2.500
       Species
 setosa    :40
 versicolor:39
 virginica :41

In [13]:
summary(test.data)

  Sepal.Length    Sepal.Width     Petal.Length    Petal.Width
 Min.   :4.800   Min.   :2.200   Min.   :1.300   Min.   :0.100
 1st Qu.:5.100   1st Qu.:2.700   1st Qu.:1.750   1st Qu.:0.325
 Median :5.700   Median :3.050   Median :4.100   Median :1.300
 Mean   :5.827   Mean   :3.077   Mean   :3.827   Mean   :1.167
 3rd Qu.:6.450   3rd Qu.:3.400   3rd Qu.:5.450   3rd Qu.:1.500
 Max.   :7.700   Max.   :3.800   Max.   :6.700   Max.   :2.500
       Species
 setosa    :10
 versicolor:11
 virginica : 9

In [14]:
test <- as.numeric(test.data[1,1:4])
clasifica(test,lista_clases,covar)

[1] 1

In [22]:
aciertos= 0
fallos= 0
for (i in 1:nrow(training.data)){
    tra <- as.numeric(training.data[i,1:4]) 
    resp=clasifica(tra,lista_clases,covar)
    if(training.data[i,5]=='setosa'){
        aux=1
    }
    if(training.data[i,5]=='versicolor'){
        aux=2
    }
    if(training.data[i,5]=='virginica'){
        aux=3
    }
    if(resp==aux){
        aciertos= aciertos+1
    }
    else {
        fallos=fallos+1
    }
}

In [16]:
print(aciertos)

[1] 116

In [17]:
print(fallos)

[1] 4

In [18]:
aciertos= 0
fallos= 0
for (i in 1:nrow(test.data)){
    test <- as.numeric(test.data[i,1:3]) 
    resp=clasifica(test,lista_clases,covar)
    if(test.data[i,5]=='setosa'){
        aux=1
    }
    if(test.data[i,5]=='versicolor'){
        aux=2
    }
    if(test.data[i,5]=='virginica'){
        aux=3
    }
    if(resp==aux){
        aciertos= aciertos+1
    }
    else {
        fallos=fallos+1
    }
}

In [19]:
aciertos

[1] 28

In [20]:
fallos

[1] 2

In [ ]:
#Con menos variables hay ligeramente peores resultados, esto dado a que se cuenta con menos informaciÃ³n.